main{
  	padding-top:30px;
}

a {
	color: inherit;
	text-decoration: none;
}

div {
  	display:block;
}

.alert p{
 	margin-bottom:0;
}

.action-icon {
	cursor: pointer;
	color: black;
}

.action-icon:hover {
	cursor: pointer;
	color: blue;
}

.alineacio-container{
	width: 100%;
	height: 400px;
}

.alineacio-info{
	width: 35%;
	height: 100%;
	float: left;
}

.alineacio-equip{
	width: 35%;
	height: 100%;
	float: left;
	
}

.alineacio-resultat{
	width: 30%;
	height: 100%;
	float: left;
}

.alineacio-jugadors{
	width: 30%;
	height: 100%;
	float: left;
}

.alineacio-text {
	width:100%;
	height: 12.5%;
}
.alineacio-text > p {
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

@media screen and (max-width: 900px) {
	.alineacio-text > p {
		text-align: center;
		vertical-align: middle;
		line-height: 40px;
		font-family: 'Ubuntu', sans-serif;
		font-size: 14.5px;
	}
}

.alineacio-info > .alineacio-text > p {
	text-align: left !important;
}

.equip {
	border-radius: 12px;
	width: 85.7143%;
	height:32.5%;
	margin-top:20px;
	margin-left: 7.14%;
}

.botons-container{
	display: flex;
	align-items:center;
	margin-top: 20px;
	margin-left: 7.14%;
	width: 85.7143%;
	height: 15%;
}

.boto-alineacio{
	display: flex;
	justify-content: center;
	align-items:center;
	margin-left:4%;
	width:20%;
	height: 100%;
	border: 2px solid black;
	border-radius:12px;
}

.boto-ali {
	cursor: pointer;
}

.fletxes-jornada {
	margin-top:10px;
	width: 100%;
	height: 12.5%;
}

.fletxa-esquerra {
  cursor: pointer;
  display:inline-block;	
  border: solid black;
  border-width: 0 10px 10px 0;
  padding: 10px;
  margin-top:2.5%;
  margin-left:2.5%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.fletxa-dreta {
  cursor: pointer;
  display:inline-block;	
  border: solid black;
  border-width: 0 10px 10px 0;
  padding: 10px;
  margin-top:2.5%;
  margin-left:78.5%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media screen and (max-width: 900px) {
	.fletxa-dreta {
		cursor: pointer;
		display:inline-block;
		border: solid black;
		border-width: 0 10px 10px 0;
		padding: 10px;
		margin-top:2.5%;
		margin-left:70.5%;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
}

.jugadors-container {
	height: 87.5%;
	width: 100%;
	margin-top:20px;
	overflow-y:scroll;
}

.jugador {
	margin-top:5px;
	border: 2px solid blue;
	border-radius:12px;
	width:100%;
	height: 40px;
	background-color: white;
	display:flex;
}
.jugador:first-child {
	margin-top: 0px;
}


.jugador-promocionable {
	margin-top:5px;
	border: 2px solid orange;
	border-radius:12px;
	width:100%;
	height: 40px;
	background-color: white;
	display:flex;
}

.blocked {
	background-color: #c1c1c1;
}

.validated {
	background-color: #87ea72;
}


.jugador-responsable {
	padding-left: 5%;
	padding-top: 2.25%;
	width: 10%;
	height: 100%;
}

.jugador-transport {
	padding-left: 5%;
	padding-top: 2.25%;
	width: 10%;
	height: 100%;
}

.jugador-nom {
	padding-left: 5%;
	padding-top: 2.25%;
	width: 70%;
	height: 100%;
}

.resultat-container {
	width: 85.7143%;
	height:32.5%;
	margin-top:20px;
	margin-left: 7.14%;
}

.resultat-container > p {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
    vertical-align: middle;
    line-height: 125px;
    font-size: 75px;
}

@media screen and (max-width: 900px) {
	.resultat-container > p {
		font-family: 'Orbitron', sans-serif;
		text-align: center;
		vertical-align: middle;
		line-height: 100px;
		font-size: 60px;
	}
}

.datepicker {
	z-index: 1151 !important;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.buscar-jugador-resultat{
      width: 50%;
 }

a {
	text-decoration: none !important;
}

.jugador-info {
	width:50%;
}

.btn-generador {
	border-radius: 0.25em !important;
	margin-left: 10px !important;
}

.last-btn {
	border-top-right-radius: 0.25em !important;
	border-bottom-right-radius: 0.25em !important;
}

.half-td {
   width: 45%;
   margin-right: 2.5%;
   float:left;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

.bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
  }

.spinner-border {
	height: 200px;
	width: 200px;
}

.info-cadena {
	width: 100%;
}

.consulta-cadena {
	float: left;
}

.icon-cadena {
	margin-left: 1%;
	margin-top: 1%;
}

.col-border {
	width: 95%;
	height: 95%;
	border: 1px solid black;
  	margin-left: 2px;
  	margin-top: 2px;
}

.text-grid {
	display: flex;
	align-items: center;
	justify-content: center;
}

hr.jornada {
  border-top: 1px dashed blue;
}
